<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="CallbackUri" value="http://iihs-onedrive.azurewebsites.net/Home/OnAuthComplate"/>
    <add key="ClientId" value="00000000441C5F4E"/>
    <add key="Secret" value="jkHwpOzCcXkXpYocXwLMsmz"/>
    <add key="DownloadUrl" value="http://sbox.iihscentral.com/staffprofile/resume/"/>
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
