
<div>
    <form id="Upload" action="UploadFileAndGetShareUri" method="post" enctype="multipart/form-data">
    </form>
    <p>Redirecting....</p>
    <script>
        window.onload = function () {
            document.forms['Upload'].submit();
        }
    </script>
</div>